$xl: 5rem;
$lg: 3rem;
$md: 2rem;
$sm: 1.5rem;
$xsm: 1.15rem;

$white-70: #f1f1f1b3;
$black: #03012e;
$black-70: #1c1f2bb3;
$blue-50: #3e486880;
$white: #f1f1f1;
$blue: #3e4868;

$screen-md: 768px;
$screen-lg: 1024px;
$screen-xl: 1536px;

$max-width: 1920px;
